In [1]:
import pandas as pd

## Load data

In [2]:
comments_all = pd.read_csv('comments_all.csv', index_col=0)
users_all = pd.read_csv('users_all.csv', index_col=0)
subreddits_all = pd.read_csv('subreddits_all.csv', index_col=0)
submissions_all = pd.read_csv('submissions_all.csv', index_col=0)

## Comments

In [3]:
comments_all

,comment_id,body,parent_id,submission_id,subreddit_id,score
0,t1_jt9ubb9,Air conditioning now? Im not sacrificing a sin...,t3_158fnlf,t3_158fnlf,t5_2qh68,99
1,t1_jta03kq,"Without air conditioner, it would be worse. Ac...",t3_158fnlf,t3_158fnlf,t5_2qh68,22
2,t1_jt9z2i7,>A man uses his mobile phone as he sits amid o...,t3_158fnlf,t3_158fnlf,t5_2qh68,40
3,t1_jt9o0uh,Shouldnt the duck curve of solar work fairly f...,t3_158fnlf,t3_158fnlf,t5_2qh68,15
4,t1_jta7c5o,Air conditioning was literally voted the numbe...,t3_158fnlf,t3_158fnlf,t5_2qh68,10
...,...,...,...,...,...,...
31113,t1_jgo7rx4,"Thanks, missed that.",t1_jgo7orm,t3_12pzg2b,t5_2rbsy,1
31114,t1_jh405ve,Did you ever get your Creedence tapes back?,t1_jgpgbvx,t3_12pzg2b,t5_2rbsy,2
31115,t1_jgqkkrz,+1 for Howl.\n\nTheyre doing some of best thin...,t1_jgp097g,t3_12pzg2b,t5_2rbsy,5
31116,t1_jgpaefn,Howl rules.,t1_jgp097g,t3_12pzg2b,t5_2rbsy,4
31117,t1_jgu1uiu,"I figured if someone was going to do it, it wo...",t1_jgt5vj9,t3_12pzg2b,t5_2rbsy,2

In [5]:
cgp = comments_all.groupby(by=['submission_id']).agg({'comment_id': 'count'}).reset_index()
cgp.rename(columns={'comment_id': 'comment_count'}, inplace=True)
cgp

    submission_id  comment_count
0      t3_110t61h             67
1      t3_112i4p4             32
2      t3_113tybf             21
3      t3_117qrox            130
4      t3_11ax9i1              9
..            ...            ...
584    t3_1ams2d1              6
585    t3_1an2e8h             59
586    t3_1anj818              2
587    t3_1annd39              2
588    t3_1aom8rn              6

[589 rows x 2 columns]

In [6]:
cgp['comment_count'].describe()

count    589.000000
mean      52.831919
std       81.940687
min        1.000000
25%        9.000000
50%       24.000000
75%       58.000000
max      854.000000
Name: comment_count, dtype: float64

In [9]:
cgp_sub = comments_all.groupby(by=['subreddit_id']).agg({'submission_id': 'count'}).reset_index()
cgp_sub.rename(columns={'submission_id': 'subreddit_count'}, inplace=True)
cgp_sub = pd.merge(left=cgp_sub, right=subreddits_all[['subreddit_id', 'display_name']], on='subreddit_id').sort_values(by='subreddit_count', ascending=False)
cgp_sub

   subreddit_id  subreddit_count        display_name
0      t5_2qh68             6010              canada
4      t5_2qnc6             2927     britishcolumbia
1      t5_2qhov             2475           vancouver
7      t5_2qsf3             2194             ontario
10     t5_2qxon             1949             alberta
14     t5_2r77k             1772             halifax
6      t5_2qpoo             1701              ottawa
28    t5_6jb8wg             1671          Canada_sub
2      t5_2qi63             1575             toronto
8      t5_2qtno             1379            Winnipeg
27     t5_3icow              960      onguardforthee
3      t5_2qn40              933             Calgary
20     t5_2rbsy              890          VictoriaBC
12     t5_2r4dl              880        saskatchewan
16     t5_2raht              656            Edmonton
9      t5_2qtnx              648          NovaScotia
23     t5_2s4gt              545      CanadaPolitics
18     t5_2rbq2              532           saskatoon
5      t5_2qnmr              371            montreal
11     t5_2qzqt              334        newfoundland
26     t5_2sgat              213                 PEI
13     t5_2r62y              145  newbrunswickcanada
15     t5_2r8t6              142            Manitoba
19     t5_2rbqo               75              regina
22     t5_2rutz               67           StJohnsNL
24     t5_2s8gf               33               Yukon
17     t5_2rbp9               23             moncton
21     t5_2rlw3                9         fredericton
25     t5_2scnd                9                 NWT

## Users

In [13]:
users_all

,redditor_id,link_karma,comment_karma,created_at,has_verified_email
0,t2_sno4w,837.0,407.0,2015-12-03 18:19:07-05:00,True
1,t2_4qaev9te,2707275.0,1081451.0,2020-08-09 22:45:57-04:00,True
2,SaraShane,NaN,NaN,NaN,NaN
3,t2_7z88l,4424.0,13599.0,2012-06-12 21:07:07-04:00,True
4,t2_guf36,11271786.0,321156.0,2014-06-04 11:37:09-04:00,True
...,...,...,...,...,...
15361,t2_d4sds,14473.0,34173.0,2013-09-12 23:04:11-04:00,True
15362,INVALIDJDDFLSXFCHEW,NaN,NaN,NaN,NaN
15363,t2_dyo2s,293.0,2427.0,2013-11-17 22:05:22-05:00,True
15364,t2_yjn8a,706.0,27662.0,2016-06-07 22:36:04-04:00,True
15365,t2_6ghta,196.0,20273.0,2011-12-17 04:15:13-05:00,True

## Subreddits

In [14]:
subreddits_all

   subreddit_id        display_name  subscribers                 created_at
0      t5_2qh68              canada      2302695  2008-01-25 09:55:38-05:00
1      t5_2s4gt      CanadaPolitics       215738  2010-09-25 14:38:03-04:00
2      t5_3icow      onguardforthee       277953  2017-01-06 19:31:10-05:00
3     t5_6jb8wg          Canada_sub        44377  2022-06-15 12:48:13-04:00
4      t5_2qzqt        newfoundland        55132  2009-06-04 00:47:31-04:00
5      t5_2qxon             alberta       299344  2009-04-30 22:11:33-04:00
6      t5_2qtnx          NovaScotia        84125  2009-02-22 19:36:31-05:00
7      t5_2qsf3             ontario       775204  2009-02-01 13:20:08-05:00
8      t5_2r4dl        saskatchewan        63461  2009-08-09 15:18:35-04:00
9      t5_2sgat                 PEI        25550  2011-04-25 08:35:54-04:00
10     t5_2r62y  newbrunswickcanada        47759  2009-09-01 21:11:52-04:00
11     t5_2r8t6            Manitoba        68443  2009-10-03 23:31:06-04:00
12     t5_2qnc6     britishcolumbia       347156  2008-10-09 02:16:38-04:00
13     t5_2scnd                 NWT         7799  2011-02-28 21:03:23-05:00
14     t5_2s8gf               Yukon        13869  2010-12-18 13:33:21-05:00
15     t5_3aj8m          Whitehorse         3303  2015-10-27 21:24:47-04:00
16     t5_2rutz           StJohnsNL        18943  2010-06-19 15:47:40-04:00
17     t5_2qn40             Calgary       332548  2008-10-02 10:45:15-04:00
18     t5_2raht            Edmonton       260883  2009-10-21 16:55:49-04:00
19     t5_2r77k             halifax       119433  2009-09-15 17:14:29-04:00
20     t5_2qi63             toronto       737636  2008-05-27 12:31:48-04:00
21     t5_2qpoo              ottawa       297357  2008-12-09 22:28:30-05:00
22     t5_2qnmr            montreal       281091  2008-10-19 22:57:00-04:00
23     t5_2rbqo              regina        37490  2009-11-04 19:47:10-05:00
24     t5_2rbq2           saskatoon        67559  2009-11-04 14:28:16-05:00
25     t5_2rlw3         fredericton        20703  2010-03-21 23:34:29-04:00
26     t5_2rbp9             moncton        17618  2009-11-04 10:50:15-05:00
27     t5_2qtno            Winnipeg       113038  2009-02-22 18:05:56-05:00
28     t5_2qhov           vancouver       513449  2008-03-28 15:26:06-04:00
29     t5_2rbsy          VictoriaBC       123883  2009-11-05 15:19:25-05:00

## Submissions

In [15]:
submissions_all

,submission_id,score,upvote_ratio,num_comments,created_at,author_id,subreddit_id,keyword
0,t3_158fnlf,0,0.44,91,2023-07-24 12:35:14-04:00,t2_sno4w,t5_2qh68,extreme heat
1,t3_14iqqjb,186,0.87,54,2023-06-25 12:40:05-04:00,t2_4qaev9te,t5_2qh68,extreme heat
2,t3_13h9pua,92,0.79,57,2023-05-14 07:25:28-04:00,SaraShane,t5_2qh68,extreme heat
3,t3_15ln2au,108,0.87,30,2023-08-08 12:30:57-04:00,t2_7z88l,t5_2qh68,extreme heat
4,t3_15tp7b9,21,0.76,4,2023-08-17 10:28:49-04:00,t2_guf36,t5_2qh68,extreme heat
...,...,...,...,...,...,...,...,...
602,t3_11bldoe,0,0.40,6,2023-02-25 08:46:10-05:00,t2_egem86sf,t5_2rbsy,heat
603,t3_15s6r0n,2,0.57,17,2023-08-15 18:09:23-04:00,t2_tebj4pp9,t5_2rbsy,hot weather
604,t3_13u41ao,0,0.39,11,2023-05-28 12:05:36-04:00,t2_2j4jh7kd,t5_2rbsy,hot weather
605,t3_14xodmu,8,0.67,1,2023-07-12 09:18:26-04:00,t2_9knwbeqe,t5_2rbsy,hot weather
606,t3_12pzg2b,37,0.89,52,2023-04-17 18:24:25-04:00,t2_kgh6o,t5_2rbsy,hot summer

In [31]:
sgp_sub = submissions_all.groupby(by=['subreddit_id']).agg({'submission_id': 'count'}).reset_index()
sgp_sub.rename(columns={'submission_id': 'submission_count'}, inplace=True)
sgp_sub = pd.merge(left=sgp_sub, right=subreddits_all[['subreddit_id', 'display_name']], on='subreddit_id').sort_values(by='submission_count', ascending=False)
sgp_sub

   subreddit_id  submission_count        display_name
0      t5_2qh68                62              canada
14     t5_2r77k                53             halifax
4      t5_2qnc6                47     britishcolumbia
1      t5_2qhov                45           vancouver
7      t5_2qsf3                43             ontario
28     t5_3icow                34      onguardforthee
8      t5_2qtno                34            Winnipeg
6      t5_2qpoo                31              ottawa
20     t5_2rbsy                25          VictoriaBC
10     t5_2qxon                25             alberta
9      t5_2qtnx                23          NovaScotia
16     t5_2raht                23            Edmonton
23     t5_2s4gt                21      CanadaPolitics
29    t5_6jb8wg                21          Canada_sub
3      t5_2qn40                20             Calgary
11     t5_2qzqt                17        newfoundland
2      t5_2qi63                14             toronto
12     t5_2r4dl                12        saskatchewan
18     t5_2rbq2                12           saskatoon
26     t5_2sgat                12                 PEI
5      t5_2qnmr                 7            montreal
22     t5_2rutz                 6           StJohnsNL
15     t5_2r8t6                 6            Manitoba
13     t5_2r62y                 4  newbrunswickcanada
17     t5_2rbp9                 3             moncton
19     t5_2rbqo                 2              regina
21     t5_2rlw3                 2         fredericton
24     t5_2s8gf                 1               Yukon
25     t5_2scnd                 1                 NWT
27     t5_3aj8m                 1          Whitehorse

In [33]:
sgp_sub['submission_count'].describe()

count    30.000000
mean     20.233333
std      17.010511
min       1.000000
25%       6.000000
50%      18.500000
75%      29.500000
max      62.000000
Name: submission_count, dtype: float64

In [34]:
comment_count = []
for subreedit_id in sgp_sub['subreddit_id'].to_list():
    comment_count.append(comments_all[comments_all['subreddit_id']==subreedit_id].shape[0])
sgp_sub['comment_count'] = comment_count
sgp_sub

   subreddit_id  submission_count        display_name  comment_count
0      t5_2qh68                62              canada           6010
14     t5_2r77k                53             halifax           1772
4      t5_2qnc6                47     britishcolumbia           2927
1      t5_2qhov                45           vancouver           2475
7      t5_2qsf3                43             ontario           2194
28     t5_3icow                34      onguardforthee            960
8      t5_2qtno                34            Winnipeg           1379
6      t5_2qpoo                31              ottawa           1701
20     t5_2rbsy                25          VictoriaBC            890
10     t5_2qxon                25             alberta           1949
9      t5_2qtnx                23          NovaScotia            648
16     t5_2raht                23            Edmonton            656
23     t5_2s4gt                21      CanadaPolitics            545
29    t5_6jb8wg                21          Canada_sub           1671
3      t5_2qn40                20             Calgary            933
11     t5_2qzqt                17        newfoundland            334
2      t5_2qi63                14             toronto           1575
12     t5_2r4dl                12        saskatchewan            880
18     t5_2rbq2                12           saskatoon            532
26     t5_2sgat                12                 PEI            213
5      t5_2qnmr                 7            montreal            371
22     t5_2rutz                 6           StJohnsNL             67
15     t5_2r8t6                 6            Manitoba            142
13     t5_2r62y                 4  newbrunswickcanada            145
17     t5_2rbp9                 3             moncton             23
19     t5_2rbqo                 2              regina             75
21     t5_2rlw3                 2         fredericton              9
24     t5_2s8gf                 1               Yukon             33
25     t5_2scnd                 1                 NWT              9
27     t5_3aj8m                 1          Whitehorse              0

## Keywords

In [16]:
submissions_all['keyword'].unique()

array(['extreme heat', 'heat', 'hot summer', 'heatwave', 'hot weather',
       'hot day', 'hottest day', 'hottest year',
       'climate change AND heat', 'heat dome', 'BC heat wave'],
      dtype=object)

In [18]:
sgp_key_sub = submissions_all.groupby(by=['keyword', 'subreddit_id']).agg({'submission_id': 'count'}).reset_index()
sgp_key_sub.rename(columns={'submission_id': 'keyword_subreddit_count'}, inplace=True)
sgp_key_sub

                    keyword subreddit_id  keyword_subreddit_count
0              BC heat wave     t5_2qhov                        1
1              BC heat wave     t5_2qnc6                        1
2   climate change AND heat     t5_2qi63                        1
3   climate change AND heat     t5_2s4gt                        1
4   climate change AND heat    t5_6jb8wg                        1
..                      ...          ...                      ...
93             hottest year     t5_2qh68                        1
94             hottest year     t5_2qnc6                        1
95             hottest year     t5_2s4gt                        1
96             hottest year     t5_3icow                        1
97             hottest year    t5_6jb8wg                        1

[98 rows x 3 columns]

In [26]:
sgp_key = submissions_all.groupby(by=['keyword']).agg({'submission_id': 'count'}).reset_index()
sgp_key.rename(columns={'submission_id': 'keyword_post_count'}, inplace=True)
sgp_key = sgp_key.sort_values(by='keyword_post_count', ascending=False)
sgp_key

                    keyword  keyword_post_count
3                      heat                 501
2              extreme heat                  28
8               hot weather                  19
7                hot summer                  17
9               hottest day                  11
5                  heatwave                   8
4                 heat dome                   7
6                   hot day                   6
10             hottest year                   5
1   climate change AND heat                   3
0              BC heat wave                   2

In [27]:
keyword_comment_count = []
for k in sgp_key['keyword'].to_list():
    keyword_comment_count.append(comments_all[comments_all['submission_id'].isin(submissions_all[submissions_all['keyword']==k]['submission_id'])].shape[0])
sgp_key['keyword_comment_count'] = keyword_comment_count
sgp_key

                    keyword  keyword_post_count  keyword_comment_count
3                      heat                 501                  25253
2              extreme heat                  28                   1320
8               hot weather                  19                   1561
7                hot summer                  17                    622
9               hottest day                  11                    344
5                  heatwave                   8                    348
4                 heat dome                   7                    868
6                   hot day                   6                    225
10             hottest year                   5                    363
1   climate change AND heat                   3                    212
0              BC heat wave                   2                      2

In [28]:
sgp_key.to_csv('keyword_post_and_comment_count.csv')